<div>
  <!--<observable-tests></observable-tests>-->
  <!-- <esri-map></esri-map> -->
  <span style='font-weight: bold; font-size: 14px;'>
    <a href='esri-map/us-demo'>US Map Demo</a>&nbsp;
    <a href='esri-map/dcp-demo'>DCP Map Demo</a>&nbsp;
    <a href='esri-map/workforce-demo'>ESRI Workforce Demo</a>&nbsp;
    <a href='esri-map/gatekeeper-demo'>ESRI Azure Gatekeeper Demo</a>&nbsp;
    <!-- <a href='observable-tests'>Observable Tests</a>&nbsp;
    <a href='websocket-tests'>Websocket Tests</a>&nbsp; -->
  </span>
  <br/>
  <br/>
  <router-outlet></router-outlet>
</div>
