<div #mapViewContainer>
  <div *ngIf='userId' id='userId'>
    <small>
      Signed in as:
      <b>{{userId}}</b>
      <button type='button' (click)='signOut();'>Sign Out</button>
    </small>
  </div>
  <div #progressBar id='progressBar'></div>

  <div #editAssignmentContainer id='editAssignmentContainer'>
    <div style='float: right; font-size: 16px; font-weight: bold; cursor: pointer;' (click)='closeEditAssignmentWindow();'>X</div>
    <h4 class='list-heading'>Edit Assignment</h4>

    <div id='attributeArea'>
      <small>
        <label for='assignmentDescription'>
          <b>Description:</b>
        </label>
        <span #assignmentDescription id='assignmentDescription'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='assignmentDueDate'>
          <b>Due Date:</b>
        </label>
        <span #assignmentDueDate id='assignmentDueDate'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='assignmentPriority'>
          <b>Priority:</b>
        </label>
        <span #assignmentPriority id='assignmentPriority' style='background-color: lightgray;'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='assignmentStatus'>
          <b>Status:</b>
        </label>
        <select #assignmentStatus id='assignmentStatus'>
          <option value='0'>Unassigned</option>
          <option value='1'>Assigned</option>
          <option value='2'>In Progress</option>
          <option value='3'>Completed</option>
          <option value='4'>Declined</option>
          <option value='5'>Paused</option>
          <option value='6'>Canceled</option>
        </select>
      </small>
      <br/>
      <br/>
      <small>
        <label for='assignmentNotes'>
          <b>Notes:</b>
        </label>
        <br>
        <textarea #assignmentNotes id='assignmentNotes' rows='10' cols='30'>Enter notes here</textarea>
      </small>
      <br>
      <!-- <br/> -->
      <input #btnSave id='btnSave' type='button' class='edit-button' value='Save' (click)='saveAssignment();'>
    </div>
  </div>
</div>
