<div #mapViewContainer>
  <div *ngIf='userId' id='userId'>
    <small>
      Signed in as:
      <b>{{userId}}</b>
      <button type='button' (click)='signOut();'>Sign Out</button>
    </small>
  </div>
  <div *ngIf='processingData' class="spinner"></div>
  <div #progressBar id='progressBar'></div>

  <!-- Add Assignment Container -->
  <div #addAssignmentContainer id='addAssignmentContainer'>
    <div>
      <div style='float: left;'>
        <span>Add Assignment</span>
      </div>
      <div style='float: right; font-size: 16px; font-weight: bold; cursor: pointer;' (click)='closeAddAssignmentWindow();'>
        <span>X</span>
      </div>
      <div style='clear: both;'></div>
    </div>
    <hr/>
    <br/>
    <div>
      <small>
        <label for='addAssignmentType'>
          <b>Assignment Type:</b>
        </label>
        <select #addAssignmentType id='addAssignmentType'>
          <option value='0'>Leak Inspection</option>
          <option value='1'>Pigging</option>
          <option value='2'>Valve Repair</option>
        </select>
      </small>
      <br/>
      <br/>
      <small>
        <label for='addAssignmentFeatureType'>
          <b>Feature Type:</b>
        </label>
        <span #addAssignmentFeatureType id='addAssignmentFeatureType'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='addAssignmentFeatureId'>
          <b>Feature Id:</b>
        </label>
        <span #addAssignmentFeatureId id='addAssignmentFeatureId'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='addAssignmentDescription'>
          <b>Description:</b>
        </label>
        <textarea #addAssignmentDescription id='addAssignmentDescription' rows='10' cols='30'>Enter description here</textarea>
      </small>
      <br/>
      <br/>
      <small>
        <label for='addAssignmentDueDate'>
          <b>Due Date:</b>
        </label>
        <input type='textbox' #addAssignmentDueDate id='addAssignmentDueDate'>
      </small>
      <br/>
      <br/>
      <small>
        <label for='addAssignmentPriority'>
          <b>Priority:</b>
        </label>
        <select #addAssignmentPriority id='addAssignmentPriority'>
          <option value='0'>None</option>
          <option value='1'>Low</option>
          <option value='2'>Medium</option>
          <option value='3'>High</option>
          <option value='4'>Critical</option>
        </select>
      </small>
      <br/>
      <br/>
      <small>
        <label for='addAssignmentStatus'>
          <b>Status:</b>
        </label>
        <select #addAssignmentStatus id='addAssignmentStatus'>
          <option value='0'>Unassigned</option>
          <option value='1'>Assigned</option>
          <option value='2'>In Progress</option>
          <option value='3'>Completed</option>
          <option value='4'>Declined</option>
          <option value='5'>Paused</option>
          <option value='6'>Canceled</option>
        </select>
      </small>
      <br/>
      <br/>
      <small>
        <label for='addAssignmentNotes'>
          <b>Notes:</b>
        </label>
        <br>
        <textarea #addAssignmentNotes id='addAssignmentNotes' rows='10' cols='30'>Enter notes here</textarea>
      </small>
      <br>
      <!-- <br/> -->
      <input #btnSave id='btnCreate' type='button' value='Create' (click)='createAssignment();'>
    </div>
  </div>

  <!-- Edit Assignment Container -->
  <div #editAssignmentContainer id='editAssignmentContainer'>
    <div>
      <div style='float: left;'>
        <span>Edit Assignment</span>
      </div>
      <div style='float: right; font-size: 16px; font-weight: bold; cursor: pointer;' (click)='closeEditAssignmentWindow();'>
        <span>X</span>
      </div>
      <div style='clear: both;'></div>
    </div>
    <hr/>
    <br/>
    <div>
      <small>
        <label for='editAssignmentDescription'>
          <b>Description:</b>
        </label>
        <span #editAssignmentDescription id='editAssignmentDescription'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='editAssignmentDueDate'>
          <b>Due Date:</b>
        </label>
        <span #editAssignmentDueDate id='editAssignmentDueDate'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='editAssignmentPriority'>
          <b>Priority:</b>
        </label>
        <span #editAssignmentPriority id='editAssignmentPriority' style='background-color: lightgray;'></span>
      </small>
      <br/>
      <br/>
      <small>
        <label for='editAssignmentStatus'>
          <b>Status:</b>
        </label>
        <select #editAssignmentStatus id='editAssignmentStatus'>
          <option value='0'>Unassigned</option>
          <option value='1'>Assigned</option>
          <option value='2'>In Progress</option>
          <option value='3'>Completed</option>
          <option value='4'>Declined</option>
          <option value='5'>Paused</option>
          <option value='6'>Canceled</option>
        </select>
      </small>
      <br/>
      <br/>
      <small>
        <label for='editAssignmentNotes'>
          <b>Notes:</b>
        </label>
        <br>
        <textarea #editAssignmentNotes id='editAssignmentNotes' rows='10' cols='30'>Enter notes here</textarea>
      </small>
      <br>
      <!-- <br/> -->
      <input #btnSave id='btnUpdate' type='button' value='Update' (click)='updateAssignment();'>
    </div>
  </div>
</div>
